* {
    box-sizing: border-box;
}

.loader_entering {
    animation: enter 0.5s forwards;
}
.loader_exiting {
    animation: enter 0.5s reverse;
}

@keyframes enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
.loader__text {
    position: relative;
    font-size: 18px;
    font-family: sans-serif;
    color: #be6565;
    text-align: center;
    text-transform: uppercase;
}

.loader__text:after {
    -webkit-animation: Dots 1s cubic-bezier(0, .39, 1, .68) infinite;
    content: "";
    position: absolute;
    animation: Dots 1s cubic-bezier(0, .39, 1, .68) infinite;
}

.loader {
    margin: 5% auto 20px;
    transition: 0.5s;
}

.book {
    perspective: 120px;
    position: relative;
    width: 50px;
    height: 40px;
    border: 3px solid #be6565;
}

.page {
    transform-style: preserve-3d;
    transform-origin: left center;
    display: block;
    position: absolute;
    top: -3px;
    right: -3px;
    overflow: hidden;
    width: 25px;
    height: 40px;
    margin: 0;
    background: #F0F1FD;
    border: 3px solid #be6565;
    border-left: 1px solid #be6565;
}

.book .page:nth-child(1) {
    animation: pageTurn 1.25s cubic-bezier(0, .4, 1, .7) 1s infinite;
}
.book .page:nth-child(2) {
    animation: pageTurn 1.25s cubic-bezier(0, .4, 1, .7) 0.75s infinite;
}
.book .page:nth-child(3) {
    animation: pageTurn 1.25s cubic-bezier(0, .4, 1, .7) 0.5s infinite;
}

@keyframes pageTurn {
0% {
    transform: rotateY( 0deg);
}
20% {
    background: #F0F1FD;
}
40% {
    transform: rotateY( -180deg);
    background: #F0F1FD;
}
100% {
    transform: rotateY( -180deg);
    background: #F0F1FD;
}
}

@keyframes Dots {
    0% {
        content: "";
    }
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    100% {
        content: "...";
    }
}