.cards {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 45px 0;

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.countResults {
    margin: 0;

    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #707085;
}