.button {
    height: 50px;
    padding: 0 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ff9b9b;

    font-size: 15px;
    color: #ffffff;

    outline: none;
    border: 0;
    opacity: 1;
    border-radius: 8px;

    transition: 0.15s;
}
.button:hover {
    cursor: pointer;
    opacity: 0.85;

    transition: 0.15s;
}
.button:active {
    opacity: 1;
    
    transition: 0.15s;
}
