.main {
    height: 100%;
}

.main_entering {
    animation: enter 0.5s forwards;
}
.main_exiting {
    animation: enter 0.5s reverse;
}

@keyframes enter {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }