
.header {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    padding: 20px 0;

    background-color: #fff;
    box-shadow: 0px 0px 15px 0.5px #999;
}

.header__form {
    width: 50%;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.selectsContainer,
.inputContainer {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}