
.header {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 0;

    background-color: #faa;
}

.header__form {
    width: 50%;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.selectsContainer,
.inputContainer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}